html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
  background: url('../public/doodle2.svg');
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1e1e1e;
  list-style: none;
  user-select: none;
  outline: none;
}
